<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<nav class="navbar navbar-expand-sm navbar-dark bg-info">
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
        <a class="nav-item nav-link active" href="/">My Blog</a>
        <a class="nav-item nav-link active" href="/list">List Blogs</a>
        <a class="nav-item nav-link active" href="/add">Add Blog</a>
        </div>
    </div>
</nav>