<nav class="navbar fixed-top navbar-expand-sm bg-info navbar-dark">
    <a class="navbar-brand" href="/">My Blog</a>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
        <a class="nav-item nav-link active" href="/bloglist">List Blogs</a>
        <a class="nav-item nav-link active" href="/blogadd">Add Blog</a>
        </div>
    </div>
</nav>