<!DOCTYPE html>
<html>
    <body>
        <h1><%= title %></h1>
        <link rel='stylesheet' href='/bootstrap/css/bootstrap.min.css'>
        <link rel='stylesheet' href='/stylesheets/style.css'>
        <link rel='stylesheet' href='/icons/bootstrap-icons.min.css'>
        <hr>
        <ul>
            <% blogs.forEach(function(blog)) { %>
                <li><%= blogs[i].blogTitle %></li>
                <li><%= blogs[i].blogText %></li>
                <li><%= blogs[i].createdOn %></li>
                <a href="http://localhost:80/blogedit"><i class="bi bi-pencil-square"></i></a>
                <a href="http://localhost:80/blogdelete"><i class="bi bi-trash-fill"></i></i></a>
                <hr>
            <% }); %>
        </ul>       
    </body>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="/bootstrap/js/bootstrap.min.js"></script>
</html>