<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/bootstrap/css/bootstrap.min.css'>
    <link rel='stylesheet' href='/stylesheets/style.css'>
    <link rel='stylesheet' href='/icons/bootstrap-icons.min.css'>
  </head>
  <body>
    <div class="container">
        <% include ./partials/nav %>
        <div class="card" style="width: 50%">
        <form method="post" action="/blogedit/<%=id%>" style="padding: 20px">
            <div class="form-group">
                <label for="blogTitle" class="text-primary">Blog Title</label>
                <input class="form-control" id="blogTitle" name="blogTitle" value="<%=blog.blogTitle%>"></textarea>

                <label for="blogText" class="text-primary">Blog Text</label>
                <input class="form-control" id="blogText" name="blogText" value="<%=blog.blogText%>"></textarea>
            </div>
                <input type="submit" class="btn btn-primary" value="Save Blog">
        </form>
        </div>
    </div> <!-- container -->
  </body>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
  <script src="/bootstrap/js/bootstrap.min.js"></script>
</html>